fastapi
matplotlib
nltk
numpy
pandas
uvicorn
beautifulsoup4
pydantic
pydantic_core
PyPDF2
python-multipart
scikit-lern
selenium
python-dotenv
requests
tensor-flow
typing_extensions
webdriver-manager
undetected-chromedriver